extends ../includes/layout

block main-content
    .navbar.navbar-inverse.navbar-fixed-top
       .container
          .navbar-header
             a.navbar-brand(href="/") Injector!
                h6 Training in Jade
          .navbar-collapse.collapse
             ul.nav.navbar-nav
                 li
                     a(href="/") Home
                 li
                     a(href="/injects") Injects
                 li
                     a(href="/injects/blah") Blah

    section.content
         div(ng-view)

    footer.text-center
        p &copy; 2014 Limech